body {
	background: url('assets/images/roughcloth.png');
}



.profilePic {
	/*width:100%;
	max-width:200px;*/
	float:left;
	margin-right: 15px;
	margin-left: 28px;
	margin-top:20px;


}

.bio {
	clear:both;
	/*max-width:100%;
	width:650px;
	margin-left:200px;*/
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:#dddddd;
	/*margin-top:30px;*/
	margin:auto auto 30px auto;
	/*float:left;*/
	padding-bottom:20px;

	}

	#aboutMe {
	color:#63a8a4;
	max-width:100%;
	margin-left:28px;
	margin-right:28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#f1f1f1;
	font-size:28px;
	font-weight:bold;

}

	p {
	line-height: 175%;
	margin: 28px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/*padding-left:10px;*/

}

#sidebar {
	width:100%;
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:#dddddd;
	float:left;
	color:#63a8a4;
	/*max-width:270px;*/
	/*margin-right:120px;
	margin-left:65px;
	margin-top:30px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-bottom:800px;*/
	margin:auto auto 800px auto;


}
#connect{
	text-align:center;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#f1f1f1;
	/*margin-left:28px;
	margin-right:28px;*/
	padding: 20px 5px 20px 5px;
	font-size:22px;
	font-weight:bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin:auto;
}

.socialMedia{
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	background-color:#959595;
	clear:both;
	width:100%;
	height:100px;
	border-top-style:solid;
	border-top-width: 10px;
	border-top-color:#63a8a4;
	margin-top:30px;
	position:fixed;
	bottom:0;
	left:0;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;


}
h5 {
	color:#ffffff;
	text-align:center;
	padding-top:40px;


}

.navbar-brand {
	background-color:#63a8a4;
	color:#ffffff !important;
	font-size:28px;
	width:100%;
	max-width:260px;
	height:72px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float:left;
	margin-left:200px;
	margin-right:120px;
	text-align:center;
	padding-top:28px;
	font-weight:bold;
	
}

.navbar {
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#cccccc;
}

.contactMe {
	/*clear:both;*/
	/*max-width:100%;*/
	/*width:650px;
	margin-left:200px;*/
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:#dddddd;
	/*margin-top:30px;*/
	margin-bottom:300px;
	padding-bottom:30px;
	/*float:left;*/
	margin:auto auto 30px auto;

}


#contactForm {
	color:#63a8a4;
	max-width:100%;
	margin-left:28px;
	margin-right:28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#f1f1f1;
	font-size:28px;
	font-weight:bold;
	}


.input-group {
	padding:20px;
	width:100%;
}

.form-control {

}

button {
	color:#ffffff !important;
	background-color:#63a8a4!important;
	margin-left:28px;

}
input {
	margin-top:5px;
	margin-bottom:5px;
}

.portMaster {
	clear:both;
	max-width:100%;
	background-color:#ffffff;
	border-style:solid;
	border-width:2px;
	border-color:#dddddd;
	margin:auto auto 30px auto;
	/*float:left;*/
	padding-bottom:45px;

}

#portBox {
	color:#63a8a4;
	max-width:100%;
	margin-left:28px;
	margin-right:28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#f1f1f1;
	font-size:28px;
	font-weight:bold;

}


#port1 {
	width:100%;
	max-width:229px;
	position:relative;
	/*margin:20px 16.5px 10px 54px;*/
	margin: 20px 125px 10px 125px;
	
}

#port1Text {
	position:absolute;
	width:100%;
	background-color:#63a8a4;
	color:#fff;
	text-align: center;
    font-size: 22px;
    left: 140px;
    top: 169px;
    height: 35px;
    padding-top: 2px;
    font-weight:bolder;
    max-width:229px;
    margin:0px;

}

#port2 {
	width:100%;
	max-width:229px;
	position:relative;
	/*margin:20px 33px 10px 157px;*/
	
	margin: 20px 125px 10px 125px;


}

#port2Text {
	position:absolute;
	width:229px;
	background-color:#63a8a4;
	color:#fff;
	text-align: center;
    font-size: 22px;
    left: 140px;
    top: 169px;
    height: 35px;
    padding-top: 2px;
    font-weight:bolder;
    max-width:100%;
    margin:0px;
}


#port3 {
	width:100%;
	max-width:229px;
	position:relative;
	/*margin:20px 16.5px 10px 54px;*/
	
	margin: 20px 125px 10px 125px;
}

#port3Text {
	position:absolute;
	width:229px;
	background-color:#63a8a4;
	color:#fff;
	text-align: center;
    font-size: 22px;
    left: 140px;
    top: 169px;
    height: 35px;
    padding-top: 2px;
    font-weight:bolder;
    max-width:100%;
  }  


#port4 {
	width:100%;
	max-width:229px;
	position:relative;
	/*margin:20px 33px 10px 157px;*/
	
	margin: 20px 125px 10px 125px;
}

#port4Text {
	position:absolute;
	width:229px;
	background-color:#63a8a4;
	color:#fff;
	text-align: center;
    font-size: 22px;
    left: 140px;
    top: 169px;
    height: 35px;
    padding-top: 2px;
    font-weight:bolder;
    max-width:100%;

}



#port5 {
	width:100%;
	max-width:229px;
	position:relative;
	/*margin:20px 16.5px 10px 54px;*/
	
	margin: 20px 125px 10px 125px;

}

#port5Text {
	position:absolute;
	width:229px;
	background-color:#63a8a4;
	color:#fff;
	text-align: center;
    font-size: 22px;
    left: 140px;
    top: 169px;
    height: 35px;
    padding-top: 2px;
    font-weight:bolder;
    max-width:100%;
}	


/*.col-sm-12 .col-xs-12 .contPort1 .contPort2 .contPort3 .contPort4 .contPort5 {
	margin-top:20px;
	margin-bottom:10px;
	float: none;
	align-content: center;
	margin: auto;

}

.col-sm-12. .col-xs-12 #sidebar {
	margin:5px 5px 300px 5px ! important;

}
*/


